# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so


/src/MnroCore/Mnro.Entity/bin/Release/netcoreapp3.1
/src/MnroCore/Mnro.Entity/bin/Debug/netcoreapp3.1
/src/MnroCore/Mnro.Interface/bin/Debug/netcoreapp3.1
/src/MnroCore/Mnro.Interface/bin/Release/netcoreapp3.1
/src/MnroCore/Mnro.Service/bin/Debug/netcoreapp3.1
/src/MnroCore/Mnro.Service/bin/Release/netcoreapp3.1
/src/MnroCore/Mnro.Web.Demo/bin/Debug/netcoreapp3.1
/src/MnroCore/Mnro.Web.Demo/bin/Release/netcoreapp3.1
/.vs
